@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("reset.css");

body {
  background-color: #02081F;
  color: #F5F5F5;
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

/* ---------------- Header ---------------- */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 22px;
  border: 0 solid transparent;
  border-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02)) 30;
  border-bottom-width: 1px;
}

.header-text {
  max-width: 65ch;
  width: 100%;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #F5F5F5;
}

.header-text-primary {}

.countdown {
  display: flex;
  gap: 15px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-value {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #97DE00;
}

.countdown-text {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: #F5F5F5;
}

.countdown-dot {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #97DE00;
}

/* ---------------- Hero Section ---------------- */

.hero-section {
  background-image: url('img/bg-hero.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container-hero {
  padding-top: 92px;
  padding-bottom: 116px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.hero-left-header {
  display: flex;
  align-items: center;
  gap: 19px;
}

.hero-logo {
  height: 63px;
}

.hero-divider {
  height: 50px;
  width: 1px;
  background-image: linear-gradient(to bottom, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
}

.hero-left-header-infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-left-header-infos-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #97DE00;
  gap: 8px;
  display: flex;
  align-items: center;
}

.hero-left-header-infos-text-2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #FFFFFF;
}

.hero-left-header-infos-icon {
  height: 17px;
}

.hero-left-title {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #FFFFFF;
  max-width: 20ch;
  width: 100%;
  margin: 44px 0 38px;
}

.hero-left-title span {
  color: #97DE00;
}

.hero-form-container {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.hero-form-label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.hero-form-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
}

.hero-form-text a {
  font-weight: 600;
  color: #C5CCD6;
}

.hero-people {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 74px;
}

.hero-people-img {
  height: 42px;
}

.hero-people-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 65ch;
  width: 100%;
}

.hero-people-text span {
  font-weight: 500;
}

/* ---------------- Hero Section ---------------- */

.form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-input {
  border-radius: 6px;
  padding: 15px 16px;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  max-width: 340px;
  width: 100%;
}

.form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #CCCCCC;
}

.form-button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-button-line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
}

.form-button-text {
  background-image: linear-gradient(to right, rgba(198, 255, 76, 1), rgba(151, 222, 0, 1), rgba(105, 154, 0, 1));
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #02081F;
  padding: 15px 59px;
  border-radius: 6px;
}

/* ---------------- For who Section ---------------- */

.for-who-section {
  background-image: url('img/bg-texture.webp');
}

.container-for-who {
  padding-top: 40px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.for-who-bg-blur {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.for-who-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  z-index: 1;
}

.for-who-header-icon {
  height: 24px;
}

.for-who-header-title {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}

.for-who-header-title span {
  color: #97DE00;
}

.for-who-content {
  display: flex;
  gap: 109px;
  justify-content: space-between;
  margin: 96px 0 66px;
  z-index: 1;
  position: relative;
}

.for-who-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.for-who-item-icon {
  height: 26px;
  width: 26px;
}

.for-who-item-title {
  margin: 29px 0 16px;
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.for-who-item-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #8B8C8C;
}

.for-who-line-content {
  position: absolute;
  top: 0;
  left: 0;
  right: -100%;
  height: 26px;
}

.for-who-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  tranform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.13);
  height: 1px;
  width: 100%;
}
