@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@import url("reset.css");

body {
  background-color: #02081F;
  color: #F5F5F5;
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

/* ---------------- Header ---------------- */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 22px;
  border: 0 solid transparent;
  border-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02)) 30;
  border-bottom-width: 1px;
}

.header-text {
  max-width: 65ch;
  width: 100%;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #F5F5F5;
}

.header-text-primary {}

.countdown {
  display: flex;
  gap: 15px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-value {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #97DE00;
}

.countdown-text {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: #F5F5F5;
}

.countdown-dot {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 38px;
  color: #97DE00;
}

/* ---------------- Hero Section ---------------- */

.hero-section {
  background-image: url('img/bg-hero.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container-hero {
  padding-top: 92px;
  padding-bottom: 116px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.hero-left-header {
  display: flex;
  align-items: center;
  gap: 19px;
}

.hero-logo {
  height: 63px;
}

.hero-divider {
  height: 50px;
  width: 1px;
  background-image: linear-gradient(to bottom, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
}

.hero-left-header-infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-left-header-infos-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #97DE00;
  gap: 8px;
  display: flex;
  align-items: center;
}

.hero-left-header-infos-text-2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #FFFFFF;
}

.hero-left-header-infos-icon {
  height: 17px;
}

.hero-left-title {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #FFFFFF;
  max-width: 20ch;
  width: 100%;
  margin: 44px 0 38px;
}

.hero-left-title span {
  color: #97DE00;
}

.hero-form-container {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.hero-form-label {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.hero-form-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
}

.hero-form-text a {
  font-weight: 600;
  color: #C5CCD6;
}

.hero-people {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 74px;
}

.hero-people-img {
  height: 42px;
}

.hero-people-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 65ch;
  width: 100%;
}

.hero-people-text span {
  font-weight: 500;
}

/* ---------------- Form Component ---------------- */

.form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-input {
  border-radius: 6px;
  padding: 15px 16px;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  max-width: 340px;
  width: 100%;
}

.form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #CCCCCC;
}

.form-button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-button-line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
}

.form-button-text {
  background-image: linear-gradient(to right, rgba(198, 255, 76, 1), rgba(151, 222, 0, 1), rgba(105, 154, 0, 1));
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #02081F;
  padding: 15px 59px;
  border-radius: 6px;
}

.form-vertical {
  flex-direction: column;
}

.form-vertical .form-input {
  max-width: 100%;
}

.form-vertical .form-button {
  width: 100%;
}

.form-vertical .form-button .form-button-text {
  width: 100%;
}

/* ---------------- For who Section ---------------- */

.for-who-section {
  background-image: url('img/bg-texture.webp');
}

.container-for-who {
  padding-top: 40px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.for-who-bg-blur {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.for-who-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  z-index: 1;
}

.for-who-header-icon {
  height: 24px;
}

.for-who-header-title {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}

.for-who-header-title span {
  color: #97DE00;
}

.for-who-content {
  display: flex;
  gap: 109px;
  justify-content: space-between;
  margin: 96px 0 66px;
  z-index: 1;
  position: relative;
}

.for-who-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.for-who-item-icon {
  height: 26px;
  width: 26px;
}

.for-who-item-title {
  margin: 29px 0 16px;
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.for-who-item-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #8B8C8C;
}

.for-who-line-content {
  position: absolute;
  top: 0;
  left: 0;
  right: -100%;
  height: 26px;
}

.for-who-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  tranform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.13);
  height: 1px;
  width: 100%;
}

/* ---------------- Learn Section ---------------- */

.learn-section {
  position: relative;
}

.learn-section-blur-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
  height: 1px;
  width: 100%;
}

.container-learn {
  padding-top: 96px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 62px;
}

.learn-bg-blur {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.learn-title {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
}

.learn-title span {
  color: #97DE00;
}

.learn-content {
  display: flex;
  gap: 23px;
  z-index: 1;
}

.learn-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 24px;
  min-height: 448px;
  height: 100%;
  border-radius: 12px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

#lesson01 {
  background-image: url('img/lesson01.webp');
}

#lesson02 {
  background-image: url('img/lesson02.webp');
}

#lesson03 {
  background-image: url('img/lesson03.webp');
}

.learn-item-blur-top {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;

  background-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
  height: 1px;
  width: 100%;
}

.learn-item-blur-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
  height: 1px;
  width: 100%;
}

.learn-item-light {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.learn-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learn-item-header-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  color: #C6FF4C;
  text-transform: uppercase;

  background-color: rgba(105, 154, 0, 0.2);
  border-radius: 40px;
  padding: 4px 12px;
}

.learn-item-header-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.learn-item-header-right-icon {
  height: 22.5px;
  width: 22.5px;
}

.learn-item-header-right-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.learn-item-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learn-item-footer-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.learn-item-footer-title span {
  color: #97DE00;
}

.learn-item-footer-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

/* ---------------- Watch Section ---------------- */

.watch-section {
}

.container-watch {
  padding-top: 20px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.watch-icon {
  height: 24px;
  width: 24px;
}

.watch-content {
  display: flex;
  align-items: center;
  gap: 29px;
  padding: 19px 127px 0 81px;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  background-color: #02081F;
  background-image: url('img/bg-texture.webp');
}

.watch-blur-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 0;
}

.watch-blur-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 0;
}

.watch-img {
  width: 549px;
  z-index: 1;
}

.watch-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  z-index: 1;
}

.watch-right-title {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #FFFFFF;
}

/* ---------------- Watch Section ---------------- */

.mentor-section {
  position: relative;
}

.mentor-blur-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-image: linear-gradient(to right, rgba(151, 222, 0, 0), rgba(151, 222, 0, 1), rgba(151, 222, 0, 0.02));
  height: 1px;
  width: 100%;
}

.container-mentor {
  padding-top: 59px;
  padding-bottom: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('img/bg-mentor.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.mentor-content {
  display: flex;
  align-items: center;
  gap: 97px;
  position: relative;
}

.mentor-content-img {
  width: 558px;
  z-index: 0;
}

.mentor-content-right {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.mentor-title {
  margin-bottom: 33px;
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

.mentor-title span {
  color: #97DE00;
}

.mentor-text {
  margin-bottom: 23px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.mentor-content-bg-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
